/* .book {
    background-color: white;
} */

.booking {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
}

.book-content {
    position: relative;
}

.book-content>span {
    content: "";
    position: absolute;
    width: 150px;
    height: 4px;
    background-color: #398541;
    top: 120px;
}

.book-content>h1 {
    color: #2f9e41;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.book-l {
    flex: 1;
}

.book-l>p {
    color: #777E90;
    margin: 10px 0px;
    letter-spacing: 1px;
    line-height: 25px;
}

.book-image {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.book-r {
    flex: 1;
    margin-left: 4rem;
}

@media screen and (max-width: 800px) {
    .booking {
        flex-direction: column;
    }
    .book-r {
        margin-left: 0;
    }
    .book-content>h1 {
        font-size: 30px;
    }
    .book-content>span {
        display: none;
    }
}